<div class="row header">
  <h3 style="text-align: center; margin-top: 10%; margin-left: 10%; margin-right: 10%">DEAR FUTURE EMPLOYERS,<br> I JUST...</h3>
</div>
<br>
<div class="form-group">
  <%= f.text_field :option, value: "Build a connection with an important person!", id: "networking", class: "form-control custom-input text-center", readonly: true %>
</div>
<div class="form-group">
	<%= f.text_field :option, value: "Conducted an entrepreneurial activity!", id: "skill_3", class: "form-control custom-input text-center", readonly: true %>
</div>
<div class="form-group">
	<%= f.text_field :option, value: "Helped my team for a group project!", id: "skill_1", class: "form-control custom-input text-center", readonly: true %>
</div>
<div class="form-group">
	<%= f.text_field :option, value: "Learned a new knowledge!", id: "knowledge", class: "form-control custom-input text-center", readonly: true %>
</div>
<div class="form-group">
	<%= f.text_field :option, value: "Practised a skill!", id: "skill_2", class: "form-control custom-input text-center", readonly: true %>
</div>
<div class="form-group">
	<%= f.text_field :option, value: "Solved a challenging real-life problem!", id: "problem_solving", class: "form-control custom-input text-center", readonly: true %>
</div>
<div class="form-group">
  <%= f.text_field :option, value: "Volunteered for an activity!", id: "volunteering", class: "form-control custom-input text-center", readonly: true %>
</div>
<div class="form-group">
  <%= f.text_field :option, value: "My activity is not listed above", id: "others", class: "form-control custom-input text-center", readonly: true %>
</div>



<style type="text/css">
	.custom-input{
		height: auto;
		font-size: 14px;
	}
</style>